@charset "UTF-8";
/* CSS Document */

:root {
  --primary-color: #00c773;
  --secondary-color: #F24C3D;
  --accent-color: #e74c3c;
  --background-color: #F2E5D5;
  --text-color: #333;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--secondary-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.btn{background-color: var(--secondary-color); 
	border: none;
}

.btn:hover{background-color: var(--accent-color); 
	border: none;
}